.stats {
  max-width: 600px;
  margin: 3vh 0;
  background-color: var(--main-theme);
  padding: 20px;
  color: var(--font-color);
}

.stats ul {
  list-style: none;
}

.stats a {
  color: aqua;
}

.stats li {
  margin: 15px 0;
  padding: 0 0 0 28px;
  font-size: 16px;
  background-image: url("../../assets/list-star.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 16px;
}

.stats li span {
  font-weight: bold;
  color: rgb(255, 253, 155);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 355px;
  margin-top: -1vh;
}