.how-to-donate-page {
  justify-content: unset;
}

.how-to-donate-page p {
  margin: 3vh;
  color: var(--header-font-color);
}

.blood-banks {
  max-width: 600px;
  list-style: circle;
}

.blood-banks li {
  margin-top: 1.5vh;
}
