.top-tens-table {
  margin: 20px;
  border-collapse: collapse;
  background-color: var(--secondary-theme);
}

.top-tens-table td,
.top-tens-table th {
  border: 1px solid rgb(110, 110, 110);
  padding: 10px;
}

.top-tens-table caption {
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  color: gold;
}