.order-page form {
  margin: auto;
  max-width: 300px;
  width: 100%;
}

.order-page input,
select,
option {
  color: black;
  padding: 13px;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}

.order-page label {
  padding-left: 12px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: #222;
}

.order-page button:hover {
  background-color: rgb(170, 0, 0);
  color: white;
}

.order-blood-form {
  display: grid;
  row-gap: 10px;
  grid-template-columns: 70% 30%;
}

.order-blood-form h3 {
  text-align: center;
  margin-bottom: 14px;
  font-size: 20px;
}

.order-blood-form button,
.order-blood-form h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}
