.my-orders-table {
  padding: 10px;
  text-align: center;
}

.my-orders-table thead tr {
  background-color: rgb(75, 75, 75);
}

.my-orders-table td,
.my-orders-table th {
  padding: 10px 8px;
}

.my-orders-table caption {
  font-size: 18px;
}

.my-orders-table td .bi {
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}
