footer {
  width: 100%;
  background: var(--secondary-theme);
  height: var(--secondary-height);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(230, 230, 230);
  font-size: 14px;
}