.manage-account-page form {
  margin: auto;
  max-width: 450px;
  width: 100%;
}

.manage-account-page input,
.manage-account-page select,
.manage-account-page option,
.manage-account-page textarea {
  color: black;
  width: 100%;
  padding: 13px;
  border: 1px solid rgb(255, 255, 255);
  display: block;
  outline: none;
  margin: 10px 0 10px;
}

input[type=checkbox] {
  display: inline;
  margin: 0 10px 0 0;
  width: auto;
}

.manage-account-page label {
  display: flex;
  align-items: center;
  display: inline;
  user-select: none;
}

.manage-account-page button {
  width: 100%;
  margin: auto;
}
